<div class="containerIst">
   <div class="middlewrap">
       <div class="img">
        
       </div>
       <div class="inputwrap">
          <div class="email">
              <input type=email placeholder="UserName/Email">
            <input type=password placeholder="Password">
              
          </div>
         
       </div>
       <div class="buttonwrap">
               <button  (click)="login()">Log In</button>
       </div>

       <div class="nextpage">

           <a [routerLink]="['/signup']">Register</a> /  <a>Forget?</a>
    </div>
   </div>
</div>