    .containerIst{
        width: 100%;
        float: left;
        background-image: url(../../assets/images/loginback.png);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        height: 100vh;
    }
    .middlewrap{
        // border: 1px solid black;
        margin-left: 30%;
        margin-right: 35%;
        margin-top: 10%;
        float: left;
        width: 37%;

    }
    .img{
        width: 192px;
        float: left;
        background-image : url(../../assets/images/logo.png);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 197px 170.9px;
        height: 166px;
        margin-top: -46px;
        margin-bottom: 10px;
        margin-left: 222px;

    }
    .email{
        width: 71%;
        margin-top: 135px;
        margin-left: 50px;
        padding: 13px;
        margin-bottom: 30px;
    }
    input{
        border: none;
        border-radius: 2px;
        // opacity: 0.8;
        // height: 30px;
        color: white;
        border: none;
        border-radius: 2px;
        opacity: 0.8;
        padding: 10px;
        font-size: 13px;
        margin-top: 29px;
        width: 90%;
        margin-left: 100px;
        height: 37px;

        // color: white;
    }


    .buttonwrap button{
        background-color: #0000ffb3;
        background-color: #0000ffb3;
    color: white;
    width: 151px;
    font-size: 14px;
    height: 40px;
    border: 0px;
    cursor: pointer;
    margin-left: 46%;
    border-radius: 16px;
    border: none;
    margin-bottom: 2px;
    }
    .nextpage{
        margin-left: 50%;
        margin-top: 25px;
        font-size: 14px;
    }


    @media only screen and (max-width: 600px)  {
        .img{
            background-position: 100% 100%;
            background-repeat: no-repeat;
            background-size: 155px 137.9px;
            height: 168px;
            width: 147px;
            margin-top: 27px;
            margin-bottom: 10px;
            margin-left: 21px;
            float: left;
        }
        .email input{
            width: 238px;
            margin-left: -99px;
        
        }
        .buttonwrap button{
            margin-left: 6%;
            border-radius: 3px;

        }
        .nextpage{
            margin-left: 27px;
            font-size: 13px;
        }
    }


















































































































    // }
    // .register{
    //     width: 100% !important;
    //     margin-left: 54px !important;
    // }

    // .regbtn{
    //     margin-top: 100px;
    //     margin-left: 73px;
    // }
    // .mainwrap{
    //     border: none;
    //     border-radius: 2px;
    //     opacity: 0.8;
    //     height: 30px;
    //     width: 255px;
    //     margin-bottom: 15px;
    //     height: 43px;
    //     margin-left: 106px;
    //     color: white;
    // }
    // /* .buttonwrap{
        
    //     float: left;
    //     text-align: center;
    //     background-color: #272d46b0 !important;
    //     color: white;
    //     width: 188px !important;
    //     margin: vh -27px !important;
    //     font-size: 14px !important;
    //     height: 40px;
    //     letter-spacing: 1px;
    //     height: 40px;
    //     border: 0px;
    //     cursor: pointer;
    //     margin-left: 70px !important;
    //     border-radius: 16px;
    //     border: none;
    // } */
    // .mainwrap input{
    //      /* background-color: #484949; */
    //      /* background-color: #484949; */ 
    //      /* background: rgba(1,1,1,0.5); */
    //      border: none;
    //      border-radius: 2px;
    //      opacity: 0.8;
    //      height: 30px;
    //      color: white;
    // }
    // .transparent input{
    //     background: rgba(1,1,1,0.5);
    // }
    // form input::placeholder
    // {
    //     /* color: white;    */
    //     /* margin-left: 10px !important; */
    // }
    // .topimg{
    //     background-image: url(../../assets/images/logo.png);
    //     background-repeat: no-repeat;
    //     background-position: center top;
    //     width: 24vh;
    //     background-size: 150px 150px;
    //     height: 22vh;
    //     position: center;
    //     margin-left: 44%;
    //     margin-top: 118px;

    // }
    // .inputpass{
    //     width: 71%;  margin-left:50px; padding: 13px;

    // }
    // .inputmail{
    //     width: 71%; margin-top: 135px; margin-left:50px; padding:13px; margin-bottom: 30px;
    // }


    // @media only screen and (max-width:1024px ){    form{
    //         /* margin-top: 158px; */
    //     }
    //     .inputemail{
    //         width:350px ;
    //         /* margin:100px;
    //          */
    //          margin-left: -123px ;
        
    //     }
    //     #img{
    //         margin-left: 116px !important;
    //     }
    //     .password{
    //                 width:350px ;
    //         /* margin:100px;
    //          */
    //          margin-left: -123px ;
    
    //     }

    //     .topimg{
    //         background-repeat: no-repeat;
    //         background-position: center top;
    //         width: 20vh !important;
    //         background-size: 150px 150px;
    //         height: 148px !important;
    //         position: center;
    //         margin-left: 29% !important;
    //         margin-top: 82px;
    //         margin-bottom: 10px;   
    //     }

    //     .btnsubmit button{
    //         width: 176px !important;
    //         margin-left: -158px !important;
    //     }


    //  .linktab{
    //      margin-left: -129px;
    //  }



    //     /* .buttonwrap{
        
    //         float: left;
    //         text-align: center;
    //         background-color: #272d46b0 !important;
    //         color: white;
    //         width: 188px !important;
    //         margin: 7vh -27px !important;
    //         font-size: 14px !important;
    //         height: 40px;
    //         letter-spacing: 1px;
    //         height: 40px;
    //         border: 0px;
    //         cursor: pointer;
    //         margin-left: -34px !important;
    //         border-radius: 16px;
    //         border: none;
    //     } */
    //     /* .register{
    //         width: 100% !important  ;
    //         margin-left: -17px !important ;
    //         /* margin-right: 20px; */



    // }







    // /* button and link css */
    // .sublinkwrap{
    //     width: 50%;
    //     height: 100px;
    //     margin-left:125px;
    //     margin-top: 35px;
    // }
    // .btnsubmit button{
    //       background-color: #0000ffb3;
    // /* a      background-color: black; */
    //     color: white;
    //     width: 188px ;
    //     font-size: 14px;
    //     height: 40px;
    //     border: 0px;
    //     cursor: pointer;
    //     margin-left: -22px;
    //     border-radius: 16px;
    //     border: none;
    //     margin-bottom: 20px;
    // }
    // span a{
    //     text-decoration: none;
    //     text-align: none;
    //     margin-left: 10px;

    // }




    // /* @media only screen and ( ){ */

    //     @media only screen 
    //     and (max-device-width : 320px) {
    //         #inputpass{
    //         width:64%;

    //         }
    //         #inputemail{
    //         width: 64%;
    //         }
    //     } 

    //     @media only screen 
    //     and (max-device-width : 414px) {
    //         #img{
    //             margin-left: 116px !important   ;
    //         }

    //     }