/// removing arrow form the number textarea
textarea[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}




.tabs a{
 width: 200px;
margin-right: 30px;
// color: white;
width: 100%;
height: 100%;
}
hr{
    margin-top: 20px;
}

table{
    width: 100%;
    // height: 100%;
    // height: 50px;
float: left;
}
td{
    width: 60%;
 float: left;
    // height: 100%;
}

.tagline{
    width:100%;
    float: left;
}
.btnbutton{
    // float: r ight;
      margin-bottom: 55px;
   width: 100%;  
//    height: 1;
}
.btnbutton button{
    // height: 100px;
    float: right;
    background-color: blue;
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
     
// margin-bottom: 20px;
}
//tagline


// location css
.locwrap{
    width: 100%;
    float: left;
}
.imgwrap{
    width: 5%;
    float: left;
    background-image: url('../../../assets/images/loc.svg');
    height: 77px;
    background-repeat: no-repeat;
    background-size: 21px 116px;
    float: left;
    margin-top: 12px;
    
}
.locinput textarea{
    margin-left: 5px;
    width: 20%;
    float: left;
    height: 63px;
    margin-top: 34px;
}



///call wrap
.callwrap{
    width: 100%;
    float: left;
}
.callimg{
    width: 5%;
    float: left;
    background-image:url('../../../assets/images/phone.svg');
    height: 68px;
    background-repeat: no-repeat;
    background-size: 20px 108px;
    float: left;
}
.calltext textarea{
    margin-left: 5px;
    width: 20%;
    float: left;
    margin-top: 40px;
}
// web site 

.webwrap{
    width: 100%;
    float: left;  
}
.webimg{
    width: 5%;
    float: left;
    background-image:url('../../../assets/images/internet.svg');
    height: 68px;
    background-repeat: no-repeat;
    background-size: 20px 108px;
    float: left;

}
.webaddress textarea{
    margin-left: 5px;
    width: 20%;
    float: left;
    margin-top: 41px;
    margin-bottom: 50px;
}
textarea{
    border-bottom: 1px solid red;
// border: none;
border-left: none;
border-right: none;
border-top: none;

}
.abouttext textarea{
     margin-top: 30px;
     padding: 10px;
     width: 100%;
     height: 100px;
margin-bottom: 50px;


}
textarea[type="number"][disabled]{background-color:transparent;
border-bottom:1px solid grey;
}
textarea[type="text"][disabled]{background-color:transparent;
    border-bottom:1px solid grey;
    }




    textarea[type=number]::-webkit-inner-spin-button, 
textarea[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}