<div [@routerTransition]>
    <!-- <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2> -->
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

   

      
      <!-- Tab panes -->
      <mat-tab-group>
          
            <mat-tab label="Overview">
                <div class="btnbutton">
                    <button (click)="onSubmit()">{{overviewData.buttonText}}</button>
                </div>
                <hr>
                <form #overview="ngForm">
                
                
            <div class="tagline">
                <textarea rows="2" cols="30" type=text style="width: 40%; border-bottom:none;  margin-left: 12px" [disabled]="overviewData.isEdit" #tagline="ngModel" required  [(ngModel)]="overviewData.tagline" name="tagline" placeholder="TagLine"></textarea>
             </div>
            <!-- <hr> -->
                  
                     <div class="locwrap">
                           <div class="imgwrap">
                        
                            </div>
                          <div class="locinput">
                              <textarea  rows="2" cols="30" style="border-bottom:none;"   type="text"  name="location"  required   [(ngModel)]="overviewData.location" [disabled]="overviewData.isEdit" placeholder="Location">
                           </textarea>
                            </div>
                     </div>
                     <div class="callwrap">
                         <div class="callimg">

                         </div>
                         <div class="calltext">
                               <textarea type="number" style="border-bottom:none;" rows="2" cols="20" [disabled]="overviewData.isEdit" required  name="contactnumber" [(ngModel)]="overviewData.contact" placeholder="Contact    Number"></textarea>
                         </div>
                     </div>




                     <div class="webwrap">
                            <div class="webimg">
   
                            </div>
                            <div class="webaddress">
                                  <textarea type="text" rows="2" cols="20" placeholder="WebSite" style="border-bottom:none;"  required  [disabled]="overviewData.isEdit" [(ngModel)]="overviewData.website" name="website"></textarea>
                            </div>
                        </div>
                <!-- <hr> -->
           
            </form>
     
                     
                
            </mat-tab>
            <mat-tab label="About us">
                    <div class="btnbutton">
                            <button (click)="onSubmit()">{{overviewData.buttonText}}</button>
                
                        </div>
                        <hr>
                        <div class="Description">
                           <p> <b>Details</b></p>
                            <div class="abouttext">
                            
                            <input type="text" required [disabled]="overviewData.isEdit" [(ngModel)]="overviewData.description" name="description" placeholder="Description">

                        </div>
                        </div>

            </mat-tab>
            <mat-tab label="Photos">
                   <div class="button">
                       <button>addphotos</button>
                   </div>
                        <hr>
            </mat-tab>
          </mat-tab-group>  