<!-- <div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular5</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div> -->





        <div class="container1st">
            <div class="imgwrap">
            <div class="img">

            </div>

        </div>
         
             <div class="box1">
                       <!-- <h3 style="text-align: center;margin-top: 30px;">Vendor Registration </h3> -->
                <div class="name"><h4>Vendor Registration</h4></div>
                       <div class="inputwrap">
                        <div class="merge">
                    <input placeholder="First Name"  type="text">
                    <input placeholder="Last Name" type="text">
                </div>
                <div class="fullfield">
                    <input placeholder="User Name" type="text">
                   
                    <input placeholder="Email"  type="email">
                </div>
    
                    <div class="merge">
                    <input placeholder="Contact Number" type="number">
                    <input placeholder="Alternate Contact" type="number">
    </div>
    <div class="merge">
                    <input placeholder="Password"  type="password" >
                    
                    <input placeholder="Confirm Password" type="password">
                </div>
                <div class="fullfield">
                    <input placeholder="Address Line1" type="text" >
                    <input placeholder="Address Line2"  id="add2" type="text">
                  </div>
                    <div class="merge">
                    <input placeholder="Land Mark" type="text">
                    <input placeholder="Locality" type="text">
                </div>
                <div class="merge">
                   <input placeholder="City" type="text">
                
                   
                    <input placeholder="Pin Code" type="number">
                </div>
                 
              <div class="fullfield">
                  <input type="text" placeholder="Business Name ">
              </div>
              <div class="btnwrap">
                  <button [routerLink]="['/dashboard']">Submit</button>
              </div>

        </div>
    
</div>