// // shared css for the login and signup page
// @import "../login/login.component.scss";




form{
    width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;       
}

.input{
    margin-bottom: 10px;
    margin-left: 20px;
}
body{
    background-color: #f0f0f0
}
.box1{
    width: 40%;
    float: left;
    /* border-left: 1px solid black; */
    height: 98vh;
    margin-left: 32%;
    /* margin-top: 150px; */
    margin-top: -112px;
    /* margin-right: 50px; */

}
.inputwrap input{
    width:60%;
    margin-bottom: 11px;
  padding: 10px;  
  background:white;
  /* border: none; */
  border-radius: 0px;
  opacity: 0.8;
  /* height: 30px; */
  /* color: white; */

}

.inputwrap{

margin-left: 30px;
margin-top: 37px;

}

.merge{
    float: left;
    width: 100%;

}
.merge input{
   
    margin-right: 7px;
    height: 35px;
    width: 47%;
}
.fullfield input {
    width: 95.5%;
    height: 39px;
}
.btnwrap{
    margin-left: 8px;
    margin-top: 25px;
}
.btnwrap button{
    width: 180px;
    background-color: #0000ffb3;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: white;
    margin-top: auto;
    margin-left: 323px;

}

.imgwrap{
width: 50%;
float: left;
}
.img{
    background-image: url(../../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 39%;
    background-size: 131px 132px;
    height: 41vh;
    position: center;
    margin-left: 85%;
    margin-top: 11px;


}
.container1st{
    background-color: #f2f2f2;
    
}
@media only screen and (max-width: 600px)  {
    .box1{margin-left: 56%;
        margin-top: -45px;
        float: left;
        text-align: center;
    }
   .img{
    background-size: 107px 93px;
    width: 83%;
    height: 13vh;
    margin-left: 129px;
}
   
   .inputwrap {
    margin-left: -181px;
}
    .merge input{
        width: 46%;
        border: none;
        border-bottom: 1px solid black;
        // border-bottom:1px solid black;
    }
    .fullfield input {
        width: 93%;
    margin-left: -13px;
    height: 40px;
    border: none;
    border-bottom: 1px solid black; 
    }
    .btnwrap button{
        width: 304px;
        margin-left: -10px;
    }
   .name h4{
    font-size: 14px;
    margin-top: 60px;
    margin-left: -85px;
   }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.name{
    width: 100%;
    float: left;
text-align: center;
}
.name h4{
width: 100%;
text-align: center;
}

@media only screen and (max-width: 320px)  {

    .imgwrap{
        /* display:; */
    }
    .img{
        height: 16vh;
        /* background-size: 63px 95px; */
     margin-left: 141px;
     background-size: 78px 94px;
    }
    .inputwrap {
     margin-left: -132px;
    }
     .merge input{
        width: 39%;
        height: 4px;
    }
     
     .fullfield input {
             width: 89.5%;;
     }
     .btnwrap button{
         /* width: 330px; */
         width: 251px;
         /* margin-left: -8px; */
     }
    .name h4{
        font-size: 11px;margin-left: -136px;
        font-size: 12px;
        margin-top: 55px;
       margin-left: -51%;
        
    }
    .inputwrap  input::placeholder{
        font-size: 9px;
    } 
    
 }
 
